<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% for key, state in states.items()|sort%}
            <LI>{{state.id}}: <B>{{state.name}}</B>
                <UL>
                {%- for key, city in cities.items()|sort%}
                    {%- if city.state_id == state.id%}
                        <LI>{{city.id}}: <B>{{city.name}}</B></LI>
                    {%- endif %}
                {%- endfor %}
                </UL>
            </LI>
            {% endfor %}
        </UL>
    </BODY>
</HTML>